@import "tailwindcss";

@theme {
  --font-sans: "Itim", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
}

@layer components {

  .number-input {
    @apply bg-transparent border-b-2 border-current mx-2 w-20;
  }

  .radio-input {
    @apply appearance-none border-2 border-white checked:bg-white h-4 p-1 rounded-full text-2xl w-4;
  }

  .color-button {
    @apply border-2 border-current py-2 rounded-md text-2xl w-36 inline-block text-center
      hover:scale-105
      active:scale-95
      focus:outline-none focus-visible:shadow-[0_0_0_2px_currentColor]
      transition-transform duration-150 ease-in-out;
  }

}

@layer utilities {
}
