name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Trigger on pushes to the main branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5 # Action to fetch your code

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24' # Use the Node.js version your project requires

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build # Run your project's build script (e.g., this generates a 'dist' folder)

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch to deploy the built files to
          folder: dist # The folder containing your final HTML/JS/CSS files after build
